* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--back_color);
	color: var(--front_color);
}

body.light {
	--back_color: #fafafa;
	--back_color2: #f3f3f3;
	--back_sidebar: rgb(61, 79, 93);
	--front_color: #111;
	--front_sidebar: #8df2ff;
	--front_box: #111;
	--title_color: #8df2ff;
	--borders: rgb(61, 79, 93);
	--error_color: #e0051e;
	--back_color_box: rgb(61, 79, 93);
	--file_borders: rgb(61, 79, 93);
	--drop_highlight: #fff;
	--box_highlighting: rgba(0, 123, 255, 0.1);
	--border_dropdown_color: #66a3e9;
	--box_shadow: #66a3e9;
}

body.dark {
	--back_color: #101010;
	--back_color2: #1a1a1a;
	--back_sidebar: #080029;
	--front_color: #fff;
	--front_sidebar: #fff;
	--front_box: #fff;
	--title_color: #643dff;
	--borders: #070ab7;
	--error_color: #e0051e;
	--back_color_box: #050125;
	--file_borders: #271e4b;
	--drop_highlight: #fff;
	--box_highlighting: rgba(0, 123, 255, 0.1);
	--border_dropdown_color: #6668e9;
	--box_shadow: #6668e9;
}

body.contrast {
	--back_color: #101010;
	--back_color2: #1a1a1a;
	--back_sidebar: #9c8c03;
	--front_color: #fff;
	--front_sidebar: #111;
	--front_box: #fff;
	--title_color: #9c8c03;
	--borders: #9c8c03;
	--error_color: #e0051e;
	--back_color_box: #352d00;
	--file_borders: #9c8c03;
	--drop_highlight: #fff;
	--box_highlighting: rgba(255, 230, 0, 0.1);
	--border_dropdown_color: #e9e766;
	--box_shadow: #e9e766;
}

body.spooky {
	--back_color: #101010;
	--back_color2: #1a1a1a;
	--back_sidebar: rgb(145, 0, 0);
	--front_color: #fff;
	--front_sidebar: #111;
	--front_box: #fff;
	--title_color: rgb(145, 0, 0);
	--borders: rgb(145, 0, 0);
	--error_color: #e0051e;
	--back_color_box: #300101;
	--file_borders: rgb(145, 0, 0);
	--drop_highlight: #fff;
	--box_highlighting: rgba(255, 0, 0, 0.1);
	--border_dropdown_color: #e96666;
	--box_shadow: #e96666;
}

.hidden {
	display: none;
}

.workspace-name {
	width: 80%;
	color: var(--front_color);
}

.invisible-link {
	color: inherit;
	text-decoration: inherit;
}

.invisible-link:hover {
	color: inherit;
	text-decoration: inherit;
}

.invisible-link:visited {
	color: inherit;
	text-decoration: inherit;
}

.home-link-header {
	display: inline-block;
	margin: 0.2em 1em;
}

.centered-vertical {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.centered-horizontal {
	display: block;
	margin: auto;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.error-popup {
	z-index: 10;
	width: 100%;
	max-width: 17em;
	padding: 2em;
	color: var(--front_color);
	border: 2px solid var(--borders);
	background-color: var(--error_color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.error-popup-msg {
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-icon {
	position: absolute;
	top: 10px;
	right: 10px;
}

.name-icon-container {
	display: flex;
	align-items: center;
	height: 20px;
	width: 100%;
	margin: 4px;
	position: relative;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 2px;
	height: 20px;
	width: auto;
}

.clickable:hover {
	cursor: pointer;
}

header,
footer {
	background-color: var(--back_color);
	color: var(--header_color);
	padding: 10px;
}

button {
	font-size: 1em;
	padding: 0.6em;
	color: var(--front_color);
	background-color: var(--back_color2);
	border: 1px solid var(--borders);
	border-radius: 5px;
	margin: 0.3em;
	width: max-content;
}

select {
	padding: 10px;
	border: 1px solid var(--borders);
	border-radius: 5px;
	font-size: 16px;
	color: var(--front_box);
	background: var(--back_color2);
	margin: 0.3em;
}

option {
	background-color: var(--back_color2);
	color: var(--front_box);
	font-size: 16px;
}

input[type='text'],
input[type='password'] {
	padding: 10px;
	border: 1px solid var(--borders);
	border-radius: 5px;
	font-size: 16px;
	color: var(--front_box);
	background-color: var(--back_color2);
}

select:hover,
button:hover {
	border-color: var(--border_dropdown_color);
	cursor: pointer;
}

select:focus,
input[type='text']:focus,
input[type='password']:focus,
button:active {
	outline: none;
	border-color: var(--border_dropdown_color);
	box-shadow: 0 0 5px var(--box_shadow);
}
