body.light {
	--editor_gutter_back: #eee;
	--editor_gutter_color: #444;
	--editor_active_back: #e2f2ff;
}

body.dark {
	--editor_gutter_back: #333;
	--editor_gutter_color: #aaa;
	--editor_active_back: #777;
}

body.contrast {
	--editor_gutter_back: #333;
	--editor_gutter_color: #aaa;
	--editor_active_back: #777;
}

body.spooky {
	--editor_gutter_back: #333;
	--editor_gutter_color: #aaa;
	--editor_active_back: #777;
}

html,
body {
	overflow: hidden;
}

/* Style the containers within the grid */
/* Set up the container for the image and table */
.containerHead {
	display: flex;
	align-items: stretch;
	justify-content: center;
}

/* Set the width of the image and the table */
img,
table {
	width: 50%;
}

/* Remove borders and spacing from the table */
table {
	border-collapse: collapse;
	margin-left: 10px;
}

td,
th {
	border: none;
	padding: 5px;
}

/* Set button styles */
button {
	width: 80px;
	height: 50px;
	border: 2px solid var(--borders);
	background-color: var(--back_body);
	font-size: 12px;
	color: var(--front_color);
}
/* Style for the container div */
.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.unsaved,
.unsaved > p {
	/* @Cleanup factor colors into a variable */
	color: #08f;
}

.hidden {
	display: none !important;
}

#container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr auto;
	max-height: 100vh;
}

#file-explorer-header-container {
	height: 15px;
	margin-bottom: 1em;
}

.file-explorer-container {
	display: flex;
	align-items: center;
	height: 20px;
	width: 100%;
	margin: 4px;
	position: relative;
}

.file-explorer-inner-left {
	position: absolute;
	left: 0px;
}

.file-explorer-inner-right {
	position: absolute;
	right: 0px;
}

.file-explorer-inner {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 5px;
}

.file-explorer-clickable {
	cursor: pointer;
}

.file-explorer-clickable:hover {
	/* @Cleanup factor colors into variable */
	background-color: #5555;
	/* border: 1px solid rgba(9, 109, 240, 0.548); */
}

.file-explorer-el-name {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	color: inherit;
	padding: 0.2em;
	margin: 0;
	font-size: 1.1em;
}

.new-file-explorer-el-input {
	width: 85%;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 2px;
	height: 20px;
	width: auto;
}

.clickable:hover {
	cursor: pointer;
}

/* Style the header and footer */
header,
footer {
	grid-column: 1 / -1;
	background-color: var(--back_body);
	color: var(--header_color);
	padding: 10px;
}

.box {
	background-color: var(--back_body);
	color: var(--front_color);
	padding: 20px;
	border-radius: 20px;
}

/* Style the individual container items */
.box-1 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	border: 3px solid var(--borders);
}

.box-2 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: var(--back_body_box);
	color: var(--title_color);
}

#editor-header {
	margin-top: 0;
}

#editor {
	overflow: visible;
	width: 100%;
	height: 93%;
}

.cm-editor {
	/*  Set height, width, borders, and global font properties here */
	font-family: monospace;
	width: 100%;
	height: 100%;
	color: #000;
	direction: ltr;
	background-color: var(--back_body);
}

.cm-gutter {
	background-color: var(--editor_gutter_back);
	color: var(--editor_gutter_color);
}

.cm-activeLineGutter {
	background-color: var(--editor_active_back) !important;
}
