#container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
	height: 100%;
}

.box {
	height: 100%;
	position: relative;
	color: var(--front_box);
	background-color: var(--back_color);
	padding: 20px;
	border-radius: 20px;
}

/* Style the individual container items */
.create-ws-box {
	text-align: center;
	margin-top: 0;
	border: 2px solid var(--borders);
}

.workspaces-container {
	margin-bottom: 0;
	border: 2px solid var(--borders);
}

.header {
	text-align: center;
	top: auto;
	margin: 3em auto;
}

.sidebar {
	background: var(--back_sidebar);
	color: var(--front_sidebar);
}

.title,
.tagline {
	margin: 0;
}
.title {
	text-transform: uppercase;
}
.tagline {
	font-weight: 300;
	color: var(--front_sidebar);
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	zoom: 1;
}
.nav-item a {
	background: transparent;
	border: 2px solid var(--borders);
	color: var(--front_sidebar);
	margin-top: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
	border: 2px solid var(--borders);
	text-decoration: none;
}

.content {
	padding: 2em 1em 0;
}

.post-title {
	text-align: center;
	font-size: 2em;
	color: var(--front_body);
	margin-bottom: 0.2em;
}

.post-description {
	font-family: Georgia, 'Cambria', serif;
	color: var(--front_body);
	line-height: 1.8em;
}

.post-category {
	margin: 0 0.1em;
	padding: 0.3em 1em;
	color: var(--front_body);
	background: var(--back_color);
	font-size: 80%;
}

.post-image-meta {
	margin-top: -3.5em;
	margin-left: 1em;
	color: var(--front_body);
}

@media (min-width: 48em) {
	.content {
		padding: 2em 3em 0;
		margin-left: 25%;
	}

	.header {
		margin: 80% 2em 0;
		text-align: right;
	}

	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
	}

	.footer {
		text-align: center;
	}
}

/*File Upload in box 1*/
.label-input-container {
	margin: 1.5em;
}

.label-input-container label {
	display: block;
	margin: 0.5em;
}

.box-btn {
	margin: 1.5em;
}
