body {
	font-family: Arial, sans-serif;
	background-color: var(--back_color2);
}

#login-container {
	width: 25em;
	height: 22em;
	padding: 2em;
	border: 2px solid var(--borders);
	background-color: var(--back_color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
}

.label-input-container {
	margin: 0.8em;
}

label,
input {
	display: block;
	margin: 0.2em;
	width: 100%;
}

#button-container {
	margin: 0, 2em;
	display: flex;
	align-items: center;
	justify-content: start;
}

button {
	margin: 0.2em 1em;
}
